@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

$font-work-sans: "basier square", sans-serif;
$font-gilroy: "basier square", sans-serif;
$font-castoro: "argesta display", serif;
